@font-face{
        font-family:'PressStart2P';
        src: url(fonts/PressStart2P-Regular.ttf);
        font-style: normal;
        font-weight: 100;
      }
body{
  background: #ACDBC9;
  color: white;
  font-family: PressStart2P;
}
header h1{
  color: #F48B94;
}
body h2{
  color: #a5a5ff;
}
body a{
  color: white;
  text-decoration: none;
}

body img{
  opacity:90%;
}
nav ul {
  display: inline;
  margine:0;
  padding:0 0 0 15px;
}

nav ul li {
  background:red;
  display:inline-block;
  list-style-type: none;
  padding: 5px 15px;
}
.bejaflor_pic{
  width: 55%;
  height: 55%;
}
.shrack_pic{
  width: 35%;
  height: 35%;
}
